<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand reset-padding" [routerLink]="'.'">
    <img src='assets/images/silverlogic-logo.png' class="img-fluid" id="logo-silverlogic">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wall-menu" aria-controls="wall-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="wall-menu">
    <ul class="navbar-nav ml-auto" id="wall-menu-items">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="'.'">
                <i-bs name="person-fill"></i-bs>Profile
            </a>
        </li>
    </ul>
  </div>
</nav>
