<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand reset-padding" [routerLink]="'.'">
      <img src='assets/images/silverlogic-logo.png' class="img-fluid" id="logo-silverlogic">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wall-menu" aria-controls="wall-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="wall-menu">
      <ul class="navbar-nav ml-auto" id="wall-menu-items">
          <li class="nav-item active" *ngIf="islogged">
              <a href="#" class="nav-link" (click)="logout($event)">
                  <i-bs name="box-arrow-in-left"></i-bs>Logout
              </a>
          </li>
          <li class="nav-item active" *ngIf="!islogged" [routerLink]="['create-account']">
              <a href="account" class="btn btn-success">
                 Create Account
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
